<main>
    <div id="top_main-contents">
        <section id="top_site-description">
            <article>
                <p>kidsQは、幼児向け、小学生向けの簡単なぞなぞ、面白なぞなぞ、難しいなぞなぞをたくさん発表をしています。どうぞお楽しみください。</p>
            </article>
        </section>
        <section id="top_course-select">
            <ul>
                <li><a href="" class="cmn_btn-red">ひたすら100</a></li>
                <li><a href="" class="cmn_btn-blue">ノンストップ</a></li>
                <li><a href="" class="cmn_btn-green">タイムアタック</a></li>
            </ul>
        </section>
        <section id="top_ranking-10">
            <article id="top_ranking-10-list-box">
                <h2>ランキングTOP10</h2>
                <ol class="cmn_list-box-01">
                    <li>1. 太郎<span>1,000pt</span></li>
                    <li>2. 二郎<span>500pt</span></li>
                    <li>3. 三郎<span>300pt</span></li>
                </ol>
            </article>
            <div class="cmn_more-text-link"><a href="">もっとみる</a></div>
        </section>
    </div>
    <nav>
        <ul id="cmn_global-nav">
            <li><a class="cmn_icon-question" href="#">KidsQとは？</a></li>
            <li><a class="cmn_icon-list" href="#">リスト</a></li>
            <li><a class="cmn_icon-ranking" href="#">ランキング</a></li>
        </ul>
    </nav>
</main>
