<main>
    <h2>たろう</h2>
    <div id="quiz_question-contents">
        <section id="quiz_info-area">
            <div id="quiz_question-info">
                <img src="../img/test.png">
                <p>のこりじかん<span>550</span>秒</p>
                <div class="cmn_btn-green">あきらめる</div>
            </div>
            <article>
                <p>お茶はお茶でも、子供が喜ぶお茶は？<br>お茶はお茶でも、子供が喜ぶお茶は？お茶はお茶でも、子供が喜ぶお茶は？</p>
            </article>
        </section>
        <section id="quiz_answer-select">
            <ul class="cmn_list-box-01 js-answer-select">
                <li><a href="">1. おもちゃ</a><span>◯</span></li>
                <li><a href="">2. こうちゃ</a><span>×</span></li>
                <li><a href="">3. むぎちゃ</a><span>×</span></li>
            </ul>
        </section>
    </div>
    <div id="" class="js-modal" style="display: none">
        <article>
            <h3><span>こたえは･･･</span>おもちゃ</h3>
        </article>
        <section id="quiz_btn-area">
            <ol>
                <li><a href="" class="cmn_btn-red">つぎのもんだい</a></li>
                <li><a href="" class="cmn_btn-blue">もどる</a></li>
            </ol>
        </section>
    </div>
</main>
