<main>
    <div id="quiz_question-contents">
        <section id="quiz_user-area">
            <h2>たろう</h2>
            <div>
                <img src="../img/test.png">
                <p>のこりじかん<span>550</span>秒</p>
                <div class="cmn_btn-green">あきらめる</div>
            </div>
            <article>
                <p>お茶はお茶でも、子供が喜ぶお茶は？</p>
            </article>
        </section>
        <section id="quiz_answer-select">
            <ul>
                <li><a href="">1. おもちゃ</a></li>
                <li><a href="">2. こうちゃ</a></li>
                <li><a href="">3. むぎちゃ</a></li>
            </ul>
        </section>
    </div>
    <div id="quiz_answer-contents">
        <article>
            <h2><span>こたえは</span>おもちゃ</h2>
        </article>
        <section>
            <ol>
                <li><a href="">つぎのもんだい</a></li>
                <li><a href="">もどる</a></li>
            </ol>
        </section>
    </div>
</main>